
.spacer {
    flex: 1 1 auto;
}

mat-toolbar{
    background-image: linear-gradient(to right, rgb(255, 74, 113),rgb(255, 167, 229));
}

button{
    color: black;
}

button:hover{
    color: rgb(255, 166, 218);
}

mat-icon{
    color:rgb(189, 0, 72);
}